---
import { transformer } from "astro:schema";

const { t } = Astro.props;
---

<article class="border rounded-xl">
    <div class="grid grid-cols-1 md:grid-cols-4 md:grid-rows-3 gap-5 p-4" id={t.id}>
        <div class="col-span-1 md:col-span-2 border rounded-xl h-50 md:h-80 flex items-center justify-center p-4 text-center font-normal md:font-extralight hover:font-bold tracking-wide text-2xl md:text-4xl bg-gradient-to-t from-black to-solidcat-primary hover:scale-95 transform duration-300">
            {t.title.toLocaleUpperCase()}
        </div>
        <div class="col-span-1 md:col-span-2 md:col-start-3 border rounded-xl h-50 md:h-80 flex items-center justify-center hover:scale-95 transform duration-300">
            <img src={t.secondaryImg} alt={t.title} class="h-full w-full object-cover rounded-xl">
        </div>
        <div class="border rounded-xl h-50 md:h-80 flex items-center justify-center p-4 text-center md:text-left font-extralight hover:font-bold text-2xl md:text-3xl bg-gradient-to-b from-black to-solidcat-primary hover:scale-95 transform duration-300">
            <p class="max-w-[75%]">
                ***
                {t.firstSlogan.toLocaleUpperCase()}
            </p>
        </div>
        <div class="col-span-1 md:col-span-2 border rounded-xl h-50 md:h-80 flex items-center justify-center hover:scale-95 transform duration-300">
            <img src={t.primaryImg} alt={t.title} class="h-full w-full object-cover rounded-xl">
        </div>
        <div class="col-span-1 md:col-span-2 md:col-start-1 md:row-start-3 border rounded-xl h-50 md:h-80 flex items-center justify-center hover:scale-95 transform duration-300">
            <img src={t.tertiaryImg} alt={t.title} class="h-full w-full object-cover rounded-xl">
        </div>
        <div class="border rounded-xl h-50 md:h-80 flex items-center justify-center p-4 text-center md:text-right font-extralight hover:font-bold text-2xl md:text-3xl bg-gradient-to-b from-black to-solidcat-primary hover:scale-95 transform duration-300">
            <p class="max-w-[90%]">
                {t.secondarySlogan.toLocaleUpperCase()}
                ***
            </p>
        </div>
        <div class="border rounded-xl h-auto flex items-center justify-center text-left font-extralight text-lg md:text-paragraph md:text-right p-4 bg-gradient-to-b from-black to-solidcat-primary md:row-span-2 md:col-start-4 md:row-start-2 hover:scale-95 transform duration-300">
            <ul>
                {
                    t.features.map((feature:string) => (
                        <li class="my-5 md:my-10 text-paragraph md:text-xl">{feature}</li>
                    ))
                }
            </ul>
        </div>
    </div>
    <div class="border h-auto rounded-xl mx-4 mb-4 py-2 px-4 text-center hover:bg-solidcat-primary hover:scale-95 transform duration-700">
        <a href={t.productDatasheet} class="hover:underline w-full">{t.productDatasheetText}</a>
    </div>
</article>