---
const { t } = Astro.props;
---

<article class="grid grid-cols-4 grid-rows-3 gap-4 border rounded-xl p-4" id={t.id}>
    <div class="col-span-2 border rounded-xl h-80 flex items-center justify-center p-4 text-center font-extralight tracking-wide text-4xl/15 bg-linear-to-t from-black to-solidcat-primary">
        {t.title}
    </div>
    <div class="col-span-2 col-start-3 border rounded-xl h-80 flex items-center justify-center">
        <img src={t.secondaryImg} alt={t.title} class="h-full w-full rounded-xl">
    </div>
    <div class="row-start-2 border rounded-xl h-80 flex items-center justify-center p-4 text-center md:text-left font-extralight text-3xl  bg-linear-to-b from-black to-solidcat-primary">
        ***
        {t.firstSlogan.toLocaleUpperCase()}
    </div>
    <div class="col-span-2 row-start-2 border rounded-xl h-80 flex items-center justify-center">
        <img src={t.primaryImg} alt={t.title} class="h-full w-full rounded-xl">
    </div>
    <div class="col-span-2 col-start-1 row-start-3 border rounded-xl h-80 flex items-center justify-center">
        <img src={t.tertiaryImg} alt={t.title} class="h-full w-full rounded-xl">
    </div>
    <div class="col-start-3 row-start-3 border rounded-xl h-80 flex items-center justify-center p-4 text-center md:text-right font-extralight text-3xl bg-linear-to-b from-black to-solidcat-primary">
        {t.secondarySlogan.toLocaleUpperCase()}
        ***
    </div>
    <div class="row-span-2 col-start-4 row-start-2 border rounded-xl h-auto flex items-center justify-center text-left font-light text-paragraph md:text-right p-4 bg-linear-to-b from-black to-solidcat-primary">
        <ul>
            {
                t.features.map((feature:string) => (
                    <li class="my-10">{feature}</li>
                ))
            }
        </ul>
    </div>
</article>
    
    