---
const { t, pricing , description , name , image } = Astro.props;
---


<div class="pricing-plan h-100 w-100 p-10.5 flex-col color-white gap-4 border-4 border-white rounded-[8px]">
    <div class="info-container flex">
        <div class="words-container h-80 flex-col justify-center align-middle gap-2">
            <h1>{name}</h1>
            <p>{description}</p>
        </div>
        <div class="image-container">
            <img src={image} alt={name}>
        </div>
    </div>
    <button class="flex w-full justify-center">
        {t.product}
    </button>
</div>