---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowDoWeWork from '../components/HowDoWeWork.astro';
import translations from '../i18n';
import Layout from '../layouts/Layout.astro';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en'; 
const t = translations[locale];
---


<Layout lang={lang}>
    <div class="h-screen bg-linear-to-b from-[#2d1434] to-black text-white">
      <Navbar t={t.navbar} lang={lang} />
      <hr>
      <Hero t={t.hero} lang={lang} />
    </div>
    <div class="h-screen bg-linear-to-b from-black to-[#2d1434] text-white">
      <HowDoWeWork t={t.howDoWeWork} lang={lang} />
    </div>
</Layout>