---
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import HowDoWeWork from '../components/HowDoWeWork.astro';
import Testimonials from '../components/Testimonials.astro';
import Outro from '../components/Outro.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
import translations from '../i18n';
import Slogan from '../components/Slogan.astro';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en'; 
const t = translations[locale];
---


<Layout lang={lang} t={t.navbar}>
    <div class="h-screen bg-linear-to-b from-[#2d1434] to-black text-white">
      <Navbar t={t.navbar} lang={lang} />
      <hr>    
      <Hero t={t.hero} lang={lang} />
    </div>
    <div class="bg-linear-to-b from-black to-[#2d1434] text-white ">
      <div class="h-auto px-4 md:px-10 py-10 border max-w-screen-xl mx-auto">
        <Slogan t={t.slogan} />
        <HowDoWeWork t={t.howDoWeWork} lang={lang} />
      </div>
    </div>
    <div class="bg-linear-to-b from-[#2d1434] to-black text-white pb-20">
      <div class="h-auto px-4 md:px-10 py-10 border-x border-b max-w-screen-xl mx-auto">
        <!-- <Testimonials t={t.testimonials} /> -->
        <Outro t={t.outro} lang={lang} />
      </div>
    </div>
    <Footer t={t.footer} lang={lang} />
</Layout>