---
const { t } = Astro.props
---
<div class="rounded-xl relative w-full h-full flex flex-col items-center gap-6 p-6 bg-gradient-to-b from-black to-solidcat-primary motion-translate-y-in-25 motion-delay-400 motion-opacity-in-0">
  <form 
    class="flex flex-col items-center w-full max-w-lg border-white"
    action="https://formsubmit.co/solidcat.management@gmail.com" 
    method="POST"
  >

    <input type="hidden" name="_redirect" value="https://tu-dominio.com/pagina-de-gracias">

    <div class="flex flex-col justify-center items-center w-full gap-5">
      <input class="w-full rounded-xl bg-transparent border-2 border-white h-13 p-3 placeholder:text-center text-white" name="enterprise_name" placeholder={t.name} required />
      <input class="w-full rounded-xl bg-transparent border-2 border-white h-13 p-3 placeholder:text-center text-white" name="email" type="email" placeholder={t.email} required />
      <input class="w-full rounded-xl bg-transparent border-2 border-white h-13 p-3 placeholder:text-center text-white" name="contact" type="text" placeholder={t.contact} />
    </div>

    <div class="flex flex-col gap-2.5 justify-center mt-10 text-center">
      <h2 class="bg-white text-solidcat-primary text-3xl font-bold md:text-3xl px-4 py-2 rounded-lg">{t.title1}</h2>
      <h2 class="text-white text-5xl font-bold md:text-8xl">{t.title2}</h2>
    </div>   

    <div class="flex justify-center text-white mt-6">
      <svg class="w-16 h-16 text-white animate-bounce" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5v10m0 0l-6-6m6 6l6-6"/>
      </svg>
    </div>
    <textarea 
      placeholder={t.placeholder} 
      class="border-white border-2 rounded-xl h-40 w-full text-white bg-transparent p-3 placeholder:text-center resize-none focus:ring-2 focus:ring-white mt-6" 
      name="message" 
      required
    ></textarea>

    <button 
      type="submit" 
      class="mt-6 w-full bg-white text-solidcat-primary font-bold py-3 rounded-xl 
             transition duration-300 
             hover:bg-solidcat-primary hover:text-white 
             active:scale-95 active:bg-opacity-80
             hover:cursor-pointer
             "
    >
      {t.msg}
    </button>
  </form>
</div>
