---
const { t, lang } = Astro.props;

interface howDoWeWorkItem {
    title: string,
    description: string,
    redirectText: string,
    redirectUrl: string
}
---

<section class="h-auto flex items-center justify-center border max-w-screen-xl mx-auto">
    <div class="w-full">
        <div class="p-4 md:p-10">
            <h2 class="font-semibold text-xl">{t.title}</h2>
            <p class="text-paragraph font-light">{t.subtitle}</p>
        </div>
        <div class="flex flex-wrap justify-center">
            {
                t.howDoWeWorkItems.map((item: howDoWeWorkItem) => (
                    <article class="border-x border-t p-4 md:p-10 px-4 w-full md:w-[50%] text-left">
                        <h4 class="font-semibold text-xl mb-1">{item.title}</h4>
                        <p class="font-light text-paragraph mb-4">{item.description}</p>
                        <a class="font-normal text-sm text-cyan-500 hover:text-cyan-700 hover:underline underline-offset-4 transition duration-300 " href={`${lang}${item.redirectUrl}`}>{item.redirectText}</a>
                    </article>
                ))
            }
        </div>
    </div>
</section>
