---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import PagesHero from '../../components/PagesHero.astro';
import Footer from '../../components/Footer.astro';
import translations from '../../i18n/get-started';
import navbarFooterTranslations from '../../i18n';
import Form from '../../components/Form.astro';
export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en';
const t = translations[locale];
const navbarFooter = navbarFooterTranslations[locale];

const metaDescription = "Start your journey with Solid Cat! Get expert software solutions tailored to your business. Contact us today!";
---

<Layout lang={lang} title={t.pageTitle} description={metaDescription}>
  <div class="p-5 h-full w-full bg-linear-to-b from-solidcat-primary to-black text-solidcat-light">
    <Navbar t={navbarFooter.navbar} lang={lang} />
    <PagesHero t={t.title} />
    <div class="h-150 relative bottom-16  border rounded-xl max-w-screen-xl mx-auto">
      <Form/>
    </div>
    
  </div>
  <Footer t={navbarFooter.footer} lang={lang} />

</Layout>