---
import Layout from '../../layouts/Layout.astro';
import Plan from '../../components/pricing/Plan.astro';
import Navbar from '../../components/Navbar.astro';
import PagesHero from '../../components/PagesHero.astro';
import Footer from '../../components/Footer.astro';

import translations from '../../i18n/pricing';
import navbarFooterTranslations from '../../i18n';

export function getStaticPaths() {
  return [
    { params: { lang: 'en' } },
    { params: { lang: 'es' } },
  ];
}

const { lang } = Astro.params;
const locale = lang === 'es' ? 'es' : 'en'; 
const t = translations[locale];
const navbarFooter = navbarFooterTranslations[locale];

const metaDescription = "Transparent and flexible pricing for Solid Cat's software solutions. Find the perfect plan for your business needs";
---

<Layout lang={lang} title={t.pageTitle} description={metaDescription}>
  <div class="w-full bg-linear-to-b from-solidcat-primary to-black text-solidcat-light">
    <Navbar t={navbarFooter.navbar} lang={lang} />
    <PagesHero t={t.title} />
    <section class="built-in-products__container flex justify-center align-middle gap-5 w-full">
      <Plan t={t.plan} />
    </section>
  </div>
  <Footer t={navbarFooter.footer} lang={lang} />
</Layout>
